body {
    font-family: $mainfont;
}

.top-content {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px -2px 10px 0px;
    margin-bottom: 20px;
    height: 85px;
    display: flex;
    align-items: center;
}

.material-icons {
    color: $darkgrey;
    font-size: 35px;
    cursor: pointer;
    transition: .2s;
    &:hover, &:active {
        color: $orange;
    }
}

.top-content-icon-link {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    &:last-child {
        margin-right: 0px;
    }
}