$titlefont: 'Comfortaa', cursive;
$mainfont: 'Montserrat Alternates', sans-serif;

//color scheme

//Deep Poinsettia
// $color1: #928679;
// $color2: #984d3f;
// $color3: #dbd7cd;

// Classic Burgundy
$color1: #415764;
$color2: #6a191b;
$color3: #d1cec3;